body{
    font-family: 'Oswald', sans-serif;
}
.logo {
    width: 100px;
}
#navcenter {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
#cover {
    background-image: url(./images/professional-lawn-maintenance-nj-1024x680.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    min-height: 770px;
    width: auto;
}
.title {
    font-size: 15ch;
    font-family: 'Odibee Sans', cursive;
    /* background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);  */
    color: white;
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.lawn{
    border-radius: 5%;
    height: 500px;
    width: 500x;
}
.liv{
    font-size: 3vh;
    margin-top: 20%;
    margin-left: 30%;
}
.livs{
    font-size: 3vh;
    margin-top: 20%;
    margin-right: 30%;
}
.base {
    font-size: 6vh;
    /* text-decoration: underline black; */
    margin-top: 15px;
    text-align: center;
    color: #0c471c;
}

#contact {
    font-size: 6vh;
    text-align: center;
    color: #0c471c;
    margin-top: 20px;
}
#hit {
   text-align: center;
}
.city{
    text-align: center;
}
footer{
    margin-top: 15px;
    text-align: center;
}
.icon{
    color: #0c471c;
}